body {
    height: 100vh;
    overflow-x:hidden;

}

/* header */

/* icon  */
.navbar-brand {
    width: 50%;
    text-align: center;
    text-shadow: 0vw 0vw 1vw white
}


.btn {
    box-shadow: 0vw 0vw 1vw white;
    text-shadow: 0vw 0vw 1vw white
}

.rounded-circle {
    box-shadow: 0vw 0vw 3vw white;
}

/* main */

/* Landing */

#Landing {
    background-image: linear-gradient(rgba(61, 106, 145, 0.521), rgba(0, 133, 241, 0.52)), url(/image/WallpaperDog-17055502.jpg);
    background-repeat: no-repeat;
    background-position: center/cover;
    background-size: cover;
    height: 700px;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

#Caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 700px;
    font-size: xx-large;
}

.title {
    background-color: rgba(105, 118, 129, 0.52);
    padding: 4px 4px 4px 4px;
}

#filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -6%;
    left: 24%;
    bottom: 2%;
    width: 800px;
    height: 100px;
    background-color: white;
    box-shadow: 0vw 1vw 2vw rgba(105, 118, 129, 0.418);
    border-radius: 10px;
}

#width{
    margin-left: 5%;
    padding-top: 25px;
    padding-bottom: 20px;
    width:100%
    
}
#properties {
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    margin-top: 4%;
    margin-left: 1%;
}

.sizes{
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 250px ;
    border-radius: 2px;
    box-shadow: 0vw 1vw 1vw rgba(105, 118, 129, 0.418);
}

.text{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(rgba(254, 254, 255, 0.521),rgba(0, 0, 0, 0.52));
}


.sales{
    width:50px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    text-align: center;
    border-radius: 2px;
    color: white;
}

.sales:hover{
    color: rgba(70, 143, 252, 0.973);
}

.address{
    font-size: medium;
    color: white;
}

.address:hover{
    color: rgba(70, 143, 252, 0.973);  
}
 .price{
    font-size: small;
    color: white;
}

.row>.sizes{
    padding-left: 0px;
    padding-right: 0px;
}

.sizes:hover{
width: 350px;
height: 300px;
box-shadow: 0vw 0vw 1vw rgba(70, 143, 252, 0.973) ;
}

main{
    height: 140vh;
};

.icon{
    display: flex;
    justify-content: space-around;
    width:100%;
}

footer{
    height: 100px;
    background-image: linear-gradient(rgba(61, 106, 145, 0.521), rgba(0, 133, 241, 0.52)), url(/image/WallpaperDog-17055502.jpg);
    background-repeat: no-repeat;
    background-position: center/cover;
    background-size: cover;
    background-attachment: fixed;
}

.back:hover{
   background-color: transparent;
   color: #767f85;
}
.col-md-1,.col-md-2{
  border-bottom: 1px solid;
  border-top: 1px solid;
}

#box_shift{
 margin-top: 1%;
}

.borders{
  height:50px;
  text-align: center;
  font-weight: bold;
}


.width{
display: inline-block;
}

#buttons{
  display: flex;
  justify-content: space-between;
}

#count{
  border-radius: 100px;
  color: white;
  background-color: #767f85;
  width: 20px;
  padding: 0 5px 0 5px;
}

#countwidth{
  width: 200px;
}

#countflex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

#backgroundAdmin{
  background-image: linear-gradient(rgba(61, 106, 145, 0.521), rgba(0, 133, 241, 0.52)), url(/image/WallpaperDog-17055502.jpg);
  background-repeat: no-repeat;
  background-position: center/cover;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}


/* Clound */

html,
body {
  background-color:transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  position: relative;

}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto ;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}




/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.modal-body input {
  width: 100%;
}
.modal-body {
  height: 500px;
}
#bottomBorder {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}